.card-product {
	border: 3px double #32d296;
	width: 300px;
	.posit-title {
		width: 200px;
		background-color: #ffffff;
		position: relative;
		top: -20px;
		left: 55px;
	}
	.title-product {
		text-align: center;
	}
	.button-regit {
		border-bottom: 1px solid #32d296;
	}
}
