.footer-top-bg {
	.nav-throw {
		font-size: 1.5em;
	}
	background: rgb(45, 50, 70);
	.footstep_footer {
		color: #fff;
		text-align: justify;
	}
	.footer-top-col {
		color: #ffffff;
	}
	.list-nav a {
		color: #32d296;
	}
}
