<div
	class="uk-height-viewport uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top"
	style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/%D0%A0%D0%BE%D0%B2%D0%BD%D0%BE._%D0%9C%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE-%D0%B4%D1%80%D0%B0%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D1%82%D0%B5%D0%B0%D1%82%D1%80..JPG/1024px-%D0%A0%D0%BE%D0%B2%D0%BD%D0%BE._%D0%9C%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE-%D0%B4%D1%80%D0%B0%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D1%82%D0%B5%D0%B0%D1%82%D1%80..JPG');"
>
	<div
		class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical"
	>
		<h1 class="uk-text-bold">
			Headline
		</h1>
		<p class="uk-text-bold">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</div>
