<div
	uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"
>
	<div class="heder-top-bg">
		<div class="uk-container ">
			<nav id="container-navbar" class="uk-navbar-container" uk-navbar>
				<!--nav  -->
				<div class="uk-navbar-left ">
					<a href="" class="uk-navbar-item uk-logo uk-text-success"
						><img src="/img/1.png" alt="photo" width="40px" height="40px"
					/></a>
					<ul class="uk-navbar-nav uk-visible@s uk-visible@m">
						<li tabindex="0">
							<a
								class="uk-text-success uk-animation-scale-up"
								href="/index.html"
								>Home</a
							>
						</li>
						<li tabindex="0">
							<a
								class="uk-text-success uk-animation-scale-up"
								href="/contact.html"
								>Contact</a
							>
						</li>
						<li tabindex="0">
							<a
								class="uk-text-success uk-animation-scale-up"
								href="/Shop-list.html"
								>Shop List</a
							>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-right cart">
					<!--nav  -->
					<ul class="uk-navbar-nav uk-visible@s uk-visible@m">
						<li>
							<a class="uk-text-success uk-animation-scale-up" href="/cart.html"
								><i uk-icon="cart"></i>
								<span class="uk-text-success index-count-nav">1</span>
								<div class="uk-text-success total-nav">
									2555$
								</div>
							</a>
						</li>
					</ul>
					<!--navbar  -->
					<a
						class="uk-navbar-toggle uk-hidden@xl uk-hidden@l uk-hidden@m uk-text-success"
						uk-navbar-toggle-icon
						href="#my-id"
						uk-toggle
					></a>
					<!-- navbar -->
					<!-- navbar -->
					<div id="my-id" uk-offcanvas="mode: slide;">
						<div class="uk-offcanvas-bar">
							<ul class="uk-nav uk-offcanvas-container">
								<li>
									<a
										class="uk-text-success uk-animation-scale-up"
										href="/index.html"
										>Home</a
									>
								</li>
								<li>
									<a
										class="uk-text-success uk-animation-scale-up"
										href="/contact.html"
										>Contact</a
									>
								</li>
								<li>
									<a
										class="uk-text-success uk-animation-scale-up"
										href="/Shop-list.html"
										>Shop List</a
									>
								</li>
								<li>
									<a
										class="uk-text-success uk-animation-scale-up"
										href="/cart.html"
										><i uk-icon="cart"></i>
										<span class="uk-text-success index-count-navbar">1</span>
										<div class="uk-text-success total-navbar">
											<strong>Total:</strong> 2555$
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- navbar -->
			</nav>
		</div>
	</div>
</div>
