<div
	uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"
>
	<div class="heder-top-bg">
		<div class="uk-container ">
			<nav id="container-navbar" class="uk-navbar-container" uk-navbar>
				<!--nav  -->
				<div class="uk-navbar-left ">
					<a href="" class="uk-navbar-item uk-logo uk-text-success"
						><img src="/img/1.png" alt="photo" width="40px" height="40px"
					/></a>
					<ul class="uk-navbar-nav uk-visible@s uk-visible@m">
						<li class="uk-animation-toggle" tabindex="0">
							<a class="uk-text-success uk-animation-scale-up" href="#">Home</a>
						</li>
						<li class="uk-animation-toggle" tabindex="0">
							<a class="uk-text-success uk-animation-scale-up" href="#"
								>Contact</a
							>
						</li>
						<li class="uk-animation-toggle" tabindex="0">
							<a class="uk-text-success uk-animation-scale-up" href="#"
								>Shop List</a
							>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-right">
					<!--nav  -->
					<ul class="uk-navbar-nav uk-visible@s uk-visible@m">
						<li class="uk-animation-toggle">
							<a class="uk-text-success uk-animation-scale-up" href=""
								><i uk-icon="cart"></i
							></a>
						</li>
					</ul>
					<!--navbar  -->
					<a
						class="uk-navbar-toggle uk-hidden@xl uk-hidden@l uk-hidden@m uk-text-success"
						uk-navbar-toggle-icon
						href="#my-id"
						uk-toggle
					></a>
					<!-- navbar -->
					<!-- navbar -->
					<div id="my-id" uk-offcanvas="mode: slide;">
						<div class="uk-offcanvas-bar">
							<ul class="uk-nav uk-offcanvas-container">
								<li class="uk-animation-toggle">
									<a class="uk-text-success uk-animation-scale-up" href="#"
										>Home</a
									>
								</li>
								<li class="uk-animation-toggle">
									<a class="uk-text-success uk-animation-scale-up" href="#"
										>Contact</a
									>
								</li>
								<li class="uk-animation-toggle">
									<a class="uk-text-success uk-animation-scale-up" href="#"
										>Item</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- navbar -->
			</nav>
		</div>
	</div>
</div>
