<div class="footer-top-bg">
	<div class="uk-container ">
		<div class="uk-text-center" uk-grid>
			<div class="uk-width-expand uk-visible@m">
				<div class="uk-card-body uk-text-success">
					<h3 class="uk-text-success">Description compani</h3>
					<p style="text-align: justify;">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Id illum
						quo repellendus commodi minima, in animi asperiores officiis libero
						voluptates! Error nemo aliquid quas repellat earum natus,
						consequatur soluta mollitia?
					</p>
				</div>
			</div>
			<div class="uk-width-auto">
				<div class="uk-card-body">
					<h3 class="uk-text-success">Contact:</h3>
					<ul class="uk-list uk-text-success">
						<li><h4 class="uk-text-success">Adress</h4></li>
						<li><span>Lorem ipsum dolor sit amet.</span></li>
						<li><h4 class="uk-text-success">Email</h4></li>
						<li><span>eldinero@gmail.com</span></li>
						<li><h4 class="uk-text-success">Phone</h4></li>
					</ul>
				</div>
			</div>
			<!--  -->
			<div class="uk-width-auto uk-align-center">
				<div class="uk-card-body">
					<ul class="uk-nav-default uk-nav-parent-icon uk-text-success" uk-nav>
						<li class="uk-parent uk-text-success">
							<a class="uk-text-success" href="#">Nav:</a>
							<ul class="uk-nav-sub">
								<li><a href="/index.html" class="uk-text-success">Home</a></li>
								<li>
									<a href="/contact.html" class="uk-text-success">Contact</a>
								</li>
								<li>
									<a href="/Shop-list.html" class="uk-text-success"
										>Shop List</a
									>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
</div>
