<div class="footer-top-bg uk-text-success">
	<div class="uk-text-center content-icons" uk-grid>
		<div class=" uk-width-1-2 uk-width-1-4@m content-icons">
			<div class="bg-icon">
				<h2 class="uk-text-center ">
					<a class="color-icons" href="">Faceboock</a>
				</h2>
			</div>
		</div>
		<div class="uk-width-1-2 uk-width-1-4@m content-icons">
			<div class="bg-icon">
				<h2 class="uk-text-center ">
					<a class="color-icons" href="">Instagram</a>
				</h2>
			</div>
		</div>
		<div class="uk-width-1-2 uk-width-1-4@m content-icons uk-margin-remove-top">
			<div class="bg-icon">
				<h2 class="uk-text-center ">
					<a class="color-icons" href="">Twitter</a>
				</h2>
			</div>
		</div>
		<div class="uk-width-1-2 uk-width-1-4@m content-icons uk-margin-remove-top">
			<div class="bg-icon">
				<h2 class="uk-text-center ">
					<a class="color-icons" href="">Google</a>
				</h2>
			</div>
		</div>
	</div>
</div>
