<div class="uk-container">
	<div class="uk-margin-medium-top uk-margin-large-bottom">
		<div class="uk-text-center" uk-grid>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card end -->
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
			<!-- Card one -->
			<div
				class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m card-main uk-flex-center"
				style="padding: 7px;"
			>
				<div class="uk-card-default">
					<img
						src="../../img/завантаження.png"
						alt=""
						srcset=""
						width="50%"
						class="uk-margin-medium-top uk-margin-medium-bottom"
					/>
					<br />
					<div>
						<h2><strong class="uk-text-success">Name:</strong>Product</h2>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Categors:</strong> Lorem ipsum!
						</p>
					</div>
					<div>
						<p><strong class="uk-text-success">Type:</strong>Lorem ipsum!</p>
					</div>
					<div>
						<p>
							<strong class="uk-text-success">Desc:</strong>Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Debitis omnis fugiat sit
							cumque ipsum itaque molestiae!
						</p>
					</div>
					<div>
						<h2><strong class="uk-text-success">Desc:</strong>$241999/kg</h2>
					</div>
					<div class="uk-button-group uk-text-center uk-margin-medium-bottom">
						<button
							class="uk-button uk-button-danger button-click uk-text-center"
						>
							OneClick
						</button>
						<button
							class="uk-button uk-button-secondary button-buy uk-text-center"
						>
							Buy
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
