<div class="uk-container">
	<div class="uk-card-default uk-margin-large-top uk-padding-large uk-margin-large-bottom">
		<div uk-grid>
			<div class="uk-width-expand">
				<h2 class="title-cart ">
					<i class="uk-text-success" uk-icon="icon: user; ratio: 2.2"></i>Your
					Contact Data
				</h2>
				<form class="uk-form-stacked uk-margin-medium-top" uk-grid>
					<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Surname</label
					>
					<input
						name="surname"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Surname"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m" >
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Name</label
					>
					<input
						name="name"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Name"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Patronymic</label
					>
					<input
						name="patronymic"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Patronymic"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Email</label
					>
					<input
						name="email"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Email"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Mobile</label
					>
					<input
						name="mobile"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Mobile"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Mobile</label
					>
					<input
						name="mobile"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Mobile"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Index City</label
					>
					<input
						name="indexCity"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Index City"
					/>
				</div>
				<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
					<label
						class="uk-form-label uk-text-success input-text"
						for="form-stacked-text"
						>Enter Adress</label
					>
					<input
						name="adress"
						class="uk-input uk-form-success "
						type="text"
						placeholder="Your Adress"
					/>
				</div>
				</form>
				<h4 class="title-cart ">
					<i class="uk-text-success" uk-icon="icon: tag; ratio: 1.2"></i> Delivery methods
				</h4>
				<div class="uk-text-center" uk-grid>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2"> Card VISA</label>
					</div>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2"> Payment Fees</label>
					</div>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2">Pay-as-you-go</label>
					</div>
				</div>
				<h4 class="title-cart uk-margin-xlarge-top">
					<i class="uk-text-success" uk-icon="icon:future; ratio: 1.2"></i> Delivery methods
				</h4>
				<div class="uk-text-center" uk-grid>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2"> Nova Post</label>
					</div>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2"> Vehicle</label>
					</div>
					<div class="uk-width-1-3">
						<div><img src="/img/завантаження.png" alt=""></div>
						<label><input class="uk-radio" type="radio" name="radio2">Largeness</label>
					</div>
				</div>
				
			</div>
			<div class="uk-width-auto">
				<div class="card-product">
					<div class="posit-title">
						<h3 class="title-product"><i uk-icon="cart"></i>Your capture</h3>
					</div>
					<div uk-grid>
						<div class="uk-width-1-1 uk-margin-small-left">
							<p><strong>Name:</strong>Lorem, ipsum dolor sit amet consectetur <b>1шт.</b></p>
							<p><strong>Name:</strong>Lorem, ipsum dolor sit amet consectetur <b>1шт.</b></p>
							<p><strong>Name:</strong>Lorem, ipsum dolor sit amet consectetur <b>1шт.</b></p>
							<button class="uk-button uk-button-danger uk-margin-xlarge-left">Redaguvati</button>
							<div class="uk-margin-small-top uk-margin-small-bottom uk-margin-small-right button-regit"></div>
							<span class="uk-margin-xlarge-left"><strong>Caunt:</strong>3шт.</span>
							<span class="uk-margin-xlarge-left"><strong>Total:</strong>2255$</span>
							<span class="uk-margin-xlarge-left"><strong>Discount:</strong>400$</span>
						</div>
					</div>
				</div>
			</div>
			<button class="uk-button uk-button-danger uk-width-1-1 uk-margin-large-top uk-margin-medium-left">Оформить</button>
		</div>
		</div>
	</div>
</div>
