<section class="carusel">
	<div
		class="uk-position-relative uk-visible-toggle uk-light "
		tabindex="-1"
		uk-slideshow
	>
		<ul class="uk-slideshow-items uk-height-viewport">
			<li>
				<img src="/img/img2.png" alt="" uk-cover />
			</li>
			<li>
				<img src="/img/img3.png" alt="" uk-cover />
			</li>
			<li>
				<img src="/img/img1.png" alt="" uk-cover />
			</li>
		</ul>
		<a
			class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover"
			href="#"
			uk-slidenav-previous
			uk-slideshow-item="previous"
		></a>
		<a
			class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover"
			href="#"
			uk-slidenav-next
			uk-slideshow-item="next"
		></a>
	</div>
</section>
