.heder-top-bg {
	background: #2d3246;
}
#container-navbar {
	background: #2d3246;
}
#my-id div {
	background: #2d3246;
}

.index-count-nav {
	text-align: center;
	background: #ff0000;
	border-radius: 50%;
	font-size: 15px;
	width: 20px;
}
.total-nav {
	text-align: center;
	position: relative;
	left: 10px;
	border-bottom: 1px solid #32d296;
}
.total-navbar {
	border-bottom: 1px solid #32d296;
}
